<!--<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>-->


<ion-header>
  <ion-toolbar color="primary" align="center">
    <ion-title>MULTIMEDIA</ion-title>
    <p align="right">Usuario:| {{email}}</p>
  </ion-toolbar>
</ion-header>

<ion-content align="center">

  <ion-grid>
    <p>Mi ubicación actuala</p>
    <!-- Latitude -->
    <ion-row>
      <ion-col size="4" class="ion-text-center">
        Latitud
      </ion-col>
      <ion-col>
        <ion-badge class="ion-text-wrap" color="medium">{{latitude}}</ion-badge>
      </ion-col>
    </ion-row>

    <!-- Longitude -->
    <ion-row>
      <ion-col size="4" class="ion-text-center">
        Longitud
      </ion-col>
      <ion-col>
        <ion-badge class="ion-text-wrap" color="medium">{{longitude}}</ion-badge>
      </ion-col>
    </ion-row>

    <!-- Accuracy -->
    <ion-row>
      <ion-col size="4" class="ion-text-center" color="medium">
        Precisión
      </ion-col>
      <ion-col>
        <ion-badge class="ion-text-wrap" color="medium">{{accuracy}}</ion-badge>
      </ion-col>
    </ion-row>

    <!-- Address -->
    <ion-row>
      <ion-col size="4" class="ion-text-center">
        Dirección
      </ion-col>
      <ion-col>
        <ion-badge class="ion-text-wrap" color="medium">{{address}}</ion-badge>
      </ion-col>
    </ion-row>

  </ion-grid>

  <div>
    <div>
      <ion-button size="large" routerLink="/pelis" color="secondary" expand="block">Ver el contenido</ion-button>
    </div>
    <ion-row>
      <ion-col size="3">
        <ion-icon name="videocam-outline"></ion-icon> PELÍCULAS
      </ion-col>
      <ion-col>
        <ion-icon name="tablet-landscape-outline"></ion-icon> SERIES
      </ion-col>
      <ion-col size="3">
        <ion-icon name="tv-outline"></ion-icon> TV
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="4">
        <a routerLink="/peli/tt5259966">
          <img
            src="https://m.media-amazon.com/images/M/MV5BMjEzNzE5MDAxMl5BMl5BanBnXkFtZTgwNjcxOTE2OTE@._V1_SX300.jpg">
        </a>
      </ion-col>
      <ion-col size="4">
        <a routerLink="/peli/tt0247082">
          <img
            src="https://m.media-amazon.com/images/M/MV5BMTkyODgwMDMzNV5BMl5BanBnXkFtZTgwMTExOTMyMjE@._V1_SX300.jpg">
        </a>
      </ion-col>
      <ion-col size="4">
        <a routerLink="/peli/tt0372784">
          <img
            src="https://m.media-amazon.com/images/M/MV5BOTY4YjI2N2MtYmFlMC00ZjcyLTg3YjEtMDQyM2ZjYzQ5YWFkXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_SX300.jpg">
        </a>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="4">
        <a routerLink="/peli/tt0898266">
          <img
            src="https://m.media-amazon.com/images/M/MV5BY2FmZTY5YTktOWRlYy00NmIyLWE0ZmQtZDg2YjlmMzczZDZiXkEyXkFqcGdeQXVyNjg4NzAyOTA@._V1_SX300.jpg">
        </a>
      </ion-col>
      <ion-col>
        <a routerLink="/peli/tt0096707">
          <img
            src="https://m.media-amazon.com/images/M/MV5BMTk2MjkzNzIxNl5BMl5BanBnXkFtZTcwNDkxMTYzMQ@@._V1_SX300.jpg">
        </a>
      </ion-col>
      <ion-col size="4">
        <a routerLink="/peli/tt1270797">
          <img
            src="https://m.media-amazon.com/images/M/MV5BNzAwNzUzNjY4MV5BMl5BanBnXkFtZTgwMTQ5MzM0NjM@._V1_SX300.jpg">
        </a>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="4">
        <a routerLink="/peli/tt9580138">
          <img
            src="https://m.media-amazon.com/images/M/MV5BNzY3YTUwYTQtNjkwNy00OTAyLWE0OWEtYmE3MGIyOWZkODY1XkEyXkFqcGdeQXVyMjkyNzYwMTc@._V1_SX300.jpg">
        </a>
      </ion-col>
      <ion-col>
        <a routerLink="/peli/tt7221388">
          <img
            src="https://m.media-amazon.com/images/M/MV5BYTI3NjcxNjctNzZhZS00NjQwLTg4NDEtMmQzOGJiYTUwNWFjXkEyXkFqcGdeQXVyOTA5NzQ0MDQ@._V1_SX300.jpg">
        </a>
      </ion-col>
      <ion-col size="4"><a routerLink="/peli/tt0108778">
        <img
          src="https://m.media-amazon.com/images/M/MV5BNDVkYjU0MzctMWRmZi00NTkxLTgwZWEtOWVhYjZlYjllYmU4XkEyXkFqcGdeQXVyNTA4NzY1MzY@._V1_SX300.jpg">
      </a>
      </ion-col>
    </ion-row>
  </div>

  <ion-button size="large" (click)="getGeolocation()" routerLink="/pelis" color="secondary">Ver el contenido
  </ion-button>
  <ion-button size="large" (click)=onLogout() color="danger">SALIR</ion-button>
</ion-content>